<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- set 4 context param= name value-->
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:sqlserver://localhost:1433;database=userdb;encrypt=false</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>123456</param-value>
    </context-param>


    <servlet>
        <servlet-name>anyName</servlet-name>
        <servlet-class>com.week2.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet>-->
        <servlet-name>LifeCycleServlet</servlet-name>-->
        <servlet-class>com.week3.LifeCycleServlet</servlet-class>-->
   </servlet>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.week3.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigDemoServlet</servlet-name>
        <servlet-class>com.week4.ConfigDemoServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>ZhaoWenChen</param-value>
        </init-param>
        <init-param>
            <param-name>ID</param-name>
            <param-value>2020211001001430</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ConfigDemoServlet2</servlet-name>
        <servlet-class>com.week4.ConfigDemoServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBCDemoServlet</servlet-name>
        <servlet-class>com.week4.JDBCDemoServlet</servlet-class>
        <init-param>
            <param-name>driver</param-name>
            <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
        </init-param>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:sqlserver://localhost:1433;database=userdb;encrypt=false</param-value>
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>sa</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>123456</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>anyName</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
   <servlet-mapping>-->
       <servlet-name>LifeCycleServlet</servlet-name>-->
       <url-pattern>/life</url-pattern>-->
   </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigDemoServlet</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigDemoServlet2</servlet-name>
        <url-pattern>/config2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JDBCDemoServlet</servlet-name>
        <url-pattern>/jdbc</url-pattern>
    </servlet-mapping>
</web-app>